@font-face {
    font-family: coming-soon;
    src: url('../fonts/ComingSoon-Regular.ttf');
}

@font-face {
    font-family: dela-gothic-one;
    src: url('../fonts/DelaGothicOne-Regular.ttf');
}

@font-face {
    font-family: poppins;
    src: url('../fonts/Poppins-Light.ttf');
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
}

.marquee {
    width: 30%;
    padding: 1rem;
    font-family: 'coming-soon', cursive;
    font-size: 1.5rem;
}

.marquee {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.marquee .marquee-text {
    white-space: nowrap;
    text-transform: uppercase;
    color: #475747;
    flex-shrink: 0;
    padding: 0 15px;
    width: max-content;
    display: flex;
    align-items: center;
    transform: translateX(0);
    animation: text-scroll 10s linear infinite;
}

@keyframes text-scroll {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.main {
    position: absolute;
    top: 7rem;
    left: 7rem;
    display: flex;
    flex-direction: column;
    /* height: 60%; */
    width: 60%;
    border: 5px solid #000;
    padding: 1.2rem;
    gap: 1.5rem;
    background-color: #fff;
}

.greet p {
    font-family: 'dela-gothic-one', sans-serif;
    font-size: 2.5rem;

    >span {
        color: #f5bc38;
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }
}

.info {
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
}

.socials {
    display: flex;
    gap: 1.5rem;
}