.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
}

.heading {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    /* position: relative; */
    width: 100%;
}

.heading div {
    /* display: block; */
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 0.2rem 1rem;
    text-align: center;
    width: max-content;
    height: max-content;
    background-color: #007c72;
    color: #fff;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.heading div:nth-child(1) {
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
}

.heading div:nth-child(2) {
    /* position: absolute; */
    border: 3px solid #000;
    margin-top: 2rem;
    /* margin-left: 1rem; */
}

.heading div:nth-child(3) {
    /* position: absolute; */
    border: 3px solid #000;
    margin-top: 4rem;
}

.images {
    margin: 1rem 1rem 0 1rem;
    height: 60vh;
    width: 90%;
    border: 4px solid #000;
}

.images img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    /* display: block; 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
}

.project-navs {
    display: flex;
    width: 90%;
    margin: 0 1rem 1rem 1rem;
    justify-content: space-between;
    /* align-items: center; */
    font-size: 2rem;
}

.links {
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'poppins-bold', sans-serif;
    font-size: 1.1rem;
}

.website {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    padding: 1rem;
    border: 4px solid #000;
    background-color: #007c72;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.github {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    padding: 1rem;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    border-right: 4px solid #000;
    background-color: #007c72;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.btns {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.btns div {
    padding: 1rem;
    background-color: #007c72;
    cursor: pointer;

    &.left {
        border-left: 4px solid #000;
        border-bottom: 4px solid #000;
        border-right: 4px solid #000;
    }

    &.right {
        border-bottom: 4px solid #000;
        border-right: 4px solid #000;
    }
}

.desc {
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    align-items: start;
    gap: 1.2rem;
    width: 90%;
    min-height: 20vh;
    border: 4px solid #000;
    /* padding: 1rem; */
}

.desc-btn {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-family: poppins-bold, sans-serif;

    .short,
    .long {
        padding: 0.5rem;
        border-right: 4px solid #000;
        border-bottom: 4px solid #000;
        cursor: pointer;
    }

    .selected {
        background-color: #007c72;
    }
}

.short-desc, .long-desc {
    font-size: 1.2rem;
    font-family: 'poppins', sans-serif;
    padding: 0.5rem 0;
    line-height: 1.8;
}

